# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
github_api_rate_limit.py
settings.py

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
data/filtered_BO_files/BO0V7R_LH.txt
data/filtered_BO_files/BO0001.txt
data/filtered_BO_files/BO1C9J_LH.txt
data/filtered_BO_files/BO1R3H_LH.txt
data/filtered_BO_files/BO0002.txt
data/filtered_BO_files/BO0003.txt
data/filtered_BO_files/BO3PUH_LH.txt
data/filtered_BO_files/BO0004.txt
data/filtered_BO_files/BO4XQN_LH.txt
data/filtered_BO_files/BO5X46_LH.txt
data/filtered_BO_files/BO0006.txt
data/filtered_BO_files/BO6M9K_LH.txt
data/filtered_BO_files/BO6SB0_LH.txt
data/filtered_BO_files/BO6XDI_LH.txt
data/filtered_BO_files/BO6Y23_LH.txt
data/filtered_BO_files/BO7EHM_LH.txt
data/filtered_BO_files/BO7L9C_LH.txt
data/filtered_BO_files/BO7WDG_LH.txt
data/filtered_BO_files/BO0008.txt
data/filtered_BO_files/BO8H6Q_LH.txt
data/filtered_BO_files/BO8UCY_LH.txt
data/filtered_BO_files/BO8XZ2_LH.txt
data/filtered_BO_files/BO9PGL_LH.txt
data/filtered_BO_files/BO0010.txt
data/filtered_BO_files/BO0012.txt
data/filtered_BO_files/BO0014.txt
data/filtered_BO_files/BO0015.txt
data/filtered_BO_files/BO0017.txt
data/filtered_BO_files/BO0018.txt
data/filtered_BO_files/BO0021.txt
data/filtered_BO_files/BO21EF_LH.txt
data/filtered_BO_files/BO0023.txt
data/filtered_BO_files/BO0024.txt
data/filtered_BO_files/BO0027.txt
data/filtered_BO_files/BO0028.txt
data/filtered_BO_files/BO0030.txt
data/filtered_BO_files/BO0036.txt
data/filtered_BO_files/BO0037.txt
data/filtered_BO_files/BO0040.txt
data/filtered_BO_files/BO0042.txt
data/filtered_BO_files/BO0044.txt
data/filtered_BO_files/BO45O5_LH.txt
data/filtered_BO_files/BO0046.txt
data/filtered_BO_files/BO0048.txt
data/filtered_BO_files/BO0049.txt
data/filtered_BO_files/BO0053.txt
data/filtered_BO_files/BO0057.txt
data/filtered_BO_files/BO63ZE_LH.txt
data/filtered_BO_files/BO0064.txt
data/filtered_BO_files/BO0080.txt
data/filtered_BO_files/BO0082.txt
data/filtered_BO_files/BO86FW_LH.txt
data/filtered_BO_files/BO0089.txt
data/filtered_BO_files/BO0090.txt
data/filtered_BO_files/BO0092.txt
data/filtered_BO_files/BO98ES_LH.txt
data/filtered_BO_files/BO0102.txt
data/filtered_BO_files/BO0105.txt
data/filtered_BO_files/BO0106.txt
data/filtered_BO_files/BO0108.txt
data/filtered_BO_files/BO0115.txt
data/filtered_BO_files/BO0133.txt
data/filtered_BO_files/BO248Y_LH.txt
data/filtered_BO_files/BO0504.txt
data/filtered_BO_files/BO0537.txt
data/filtered_BO_files/BO0609_LH.txt
data/filtered_BO_files/BO663J_LH.txt
data/filtered_BO_files/BO0690.txt
data/filtered_BO_files/BO0691.txt
data/filtered_BO_files/BO0692.txt
data/filtered_BO_files/BO0693.txt
data/filtered_BO_files/BO0694.txt
data/filtered_BO_files/BO0695.txt
data/filtered_BO_files/BO0696.txt
data/filtered_BO_files/BO0697.txt
data/filtered_BO_files/BO0700.txt
data/filtered_BO_files/BO0701-v4.txt
data/filtered_BO_files/BO0701.txt
data/filtered_BO_files/BO0702.txt
data/filtered_BO_files/BO0703.txt
data/filtered_BO_files/BO0708.txt
data/filtered_BO_files/BO0709.txt
data/filtered_BO_files/BO0710.txt
data/filtered_BO_files/BO0711.txt
data/filtered_BO_files/BO0712.txt
data/filtered_BO_files/BO0713.txt
data/filtered_BO_files/BO0714-v1.txt
data/filtered_BO_files/BO0714.txt
data/filtered_BO_files/BO0718-v2.txt
data/filtered_BO_files/BO0718.txt
data/filtered_BO_files/BO0723.txt
data/filtered_BO_files/BO0725.txt
data/filtered_BO_files/BO0726.txt
data/filtered_BO_files/BO0728.txt
data/filtered_BO_files/BO0731.txt
data/filtered_BO_files/BO0732.txt
data/filtered_BO_files/BO0733.txt
data/filtered_BO_files/BO0734.txt
data/filtered_BO_files/BO0735.txt
data/filtered_BO_files/BO0736.txt
data/filtered_BO_files/BO0737.txt
data/filtered_BO_files/BO0738.txt
data/filtered_BO_files/BO0739.txt
data/filtered_BO_files/BO0746.txt
data/filtered_BO_files/BO0747.txt
data/filtered_BO_files/BO0748.txt
data/filtered_BO_files/BO0749.txt
data/filtered_BO_files/BO0751.txt
data/filtered_BO_files/BO0753.txt
data/filtered_BO_files/BO0755.txt
data/filtered_BO_files/BO0756.txt
data/filtered_BO_files/BO0757.txt
data/filtered_BO_files/BO0758.txt
data/filtered_BO_files/BO0759.txt
data/filtered_BO_files/BO0760.txt
data/filtered_BO_files/BO0761.txt
data/filtered_BO_files/BO0762.txt
data/filtered_BO_files/BO0763.txt
data/filtered_BO_files/BO0770.txt
data/filtered_BO_files/BO0773.txt
data/filtered_BO_files/BO778Q_LH.txt
data/filtered_BO_files/BO0781.txt
data/filtered_BO_files/BO0787.txt
data/filtered_BO_files/BO0791.txt
data/filtered_BO_files/BO0792.txt
data/filtered_BO_files/BO0800.txt
data/filtered_BO_files/BO0803.txt
data/filtered_BO_files/BO0855.txt
data/filtered_BO_files/BO0887.txt
data/filtered_BO_files/BO1003.txt
data/filtered_BO_files/BO1083.txt
data/filtered_BO_files/BO1114.txt
data/filtered_BO_files/BO1721.txt
data/filtered_BO_files/BO1966.txt
data/filtered_BO_files/BO2040.txt
data/filtered_BO_files/BO2051.txt
data/filtered_BO_files/BO2359.txt
data/filtered_BO_files/BO2395.txt
data/filtered_BO_files/BO2451.txt
data/filtered_BO_files/BO2723.txt
data/filtered_BO_files/BO2724.txt
data/filtered_BO_files/BO2864.txt
data/filtered_BO_files/BO2971.txt
data/filtered_BO_files/BO3076.txt
data/filtered_BO_files/BO3287.txt
data/filtered_BO_files/BO3867_LH.txt
data/filtered_BO_files/BO4383.txt
data/filtered_BO_files/BO4385.txt
data/filtered_BO_files/BO4707.txt
data/filtered_BO_files/BO4779.txt
data/filtered_BO_files/BO4780.txt
data/filtered_BO_files/BO4789.txt
data/filtered_BO_files/BO4792.txt
data/filtered_BO_files/BO4850.txt
data/filtered_BO_files/BO4851.txt
data/filtered_BO_files/BOA93L_LH.txt
data/filtered_BO_files/BOAQ6F_LH.txt
data/filtered_BO_files/BOAQVA_LH.txt
data/filtered_BO_files/BOC0PN_LH.txt
data/filtered_BO_files/BOC3EQ_LH.txt
data/filtered_BO_files/BOC9HN_LH.txt
data/filtered_BO_files/BOC09L_LH.txt
data/filtered_BO_files/BOC916_LH.txt
data/filtered_BO_files/BOCGII_LH.txt
data/filtered_BO_files/BOCI47_LH.txt
data/filtered_BO_files/BOCPAZ_LH.txt
data/filtered_BO_files/BOD6QN_LH.txt
data/filtered_BO_files/BODCAO_LH.txt
data/filtered_BO_files/BODEHO_LH.txt
data/filtered_BO_files/BODKGN_LH.txt
data/filtered_BO_files/BODP6M_LH.txt
data/filtered_BO_files/BOEG6V_LH.txt
data/filtered_BO_files/BOEMCP_LH.txt
data/filtered_BO_files/BOEUWE_LH.txt
data/filtered_BO_files/BOEYGX_LH.txt
data/filtered_BO_files/BOFTMA_LH.txt
data/filtered_BO_files/BOH1IG_LH.txt
data/filtered_BO_files/BOHODL_LH.txt
data/filtered_BO_files/BOHTRJ_LH.txt
data/filtered_BO_files/BOIAAR_LH.txt
data/filtered_BO_files/BOJ4F0_LH.txt
data/filtered_BO_files/BOJG3F_LH.txt
data/filtered_BO_files/BOJQQQ_LH.txt
data/filtered_BO_files/BOK3V3_LH.txt
data/filtered_BO_files/BOKCQZ_LH.txt
data/filtered_BO_files/BOKGKI_LH.txt
data/filtered_BO_files/BOKYUV_LH.txt
data/filtered_BO_files/BOM2LC_LH.txt
data/filtered_BO_files/BOMGO2_LH.txt
data/filtered_BO_files/BOMKFF_LH.txt
data/filtered_BO_files/BOMQLF_LH.txt
data/filtered_BO_files/BOMS3Y_LH.txt
data/filtered_BO_files/BON7I2_LH.txt
data/filtered_BO_files/BONIU8_LH.txt
data/filtered_BO_files/BONLT8_LH.txt
data/filtered_BO_files/BONN1K_LH.txt
data/filtered_BO_files/BOO36D_LH.txt
data/filtered_BO_files/BOOP6F_LH.txt
data/filtered_BO_files/BOOXSX_LH.txt
data/filtered_BO_files/BOP2Z4_LH.txt
data/filtered_BO_files/BOPCWS_LH.txt
data/filtered_BO_files/BOQ142_LH.txt
data/filtered_BO_files/BOR1R5_LH.txt
data/filtered_BO_files/BORNQQ_LH.txt
data/filtered_BO_files/BORVH5_LH.txt
data/filtered_BO_files/BOSEF6_LH.txt
data/filtered_BO_files/BOSOHP_LH.txt
data/filtered_BO_files/BOSS5D_LH.txt
data/filtered_BO_files/BOTAKG_LH.txt
data/filtered_BO_files/BOTPT0_LH.txt
data/filtered_BO_files/BOU65D_LH.txt
data/filtered_BO_files/BOVAXK_LH.txt
data/filtered_BO_files/BOVZ7V_LH.txt
data/filtered_BO_files/BOW1NG_LH.txt
data/filtered_BO_files/BOW9RB_LH.txt
data/filtered_BO_files/BOW13R_LH.txt
data/filtered_BO_files/BOWFAI_LH.txt
data/filtered_BO_files/BOWRDY_LH.txt
data/filtered_BO_files/BOWVF5_LH.txt
data/filtered_BO_files/BOXIR5_LH.txt
data/filtered_BO_files/BOYDPP_LH.txt
data/filtered_BO_files/BOYL5A_LH.txt
data/filtered_BO_files/BOYQXM_LH.txt
data/filtered_BO_files/BOYRFV_LH.txt
data/filtered_BO_files/BOZ64P_LH.txt
data/filtered_BO_files/BOZJTT_LH.txt
data/filtered_BO_files/BOZSEN_LH.txt
data/filtered_BO_files/BOZZRV_LH.txt
data/filtered_TM_files/TM0V7R_LH.txt
data/filtered_TM_files/TM0001.txt
data/filtered_TM_files/TM1C9J_LH.txt
data/filtered_TM_files/TM1R3H_LH.txt
data/filtered_TM_files/TM0002.txt
data/filtered_TM_files/TM0003.txt
data/filtered_TM_files/TM3PUH_LH.txt
data/filtered_TM_files/TM0004.txt
data/filtered_TM_files/TM4XQN_LH.txt
data/filtered_TM_files/TM5X46_LH.txt
data/filtered_TM_files/TM0006.txt
data/filtered_TM_files/TM6M9K_LH.txt
data/filtered_TM_files/TM6SB0_LH.txt
data/filtered_TM_files/TM6XDI_LH.txt
data/filtered_TM_files/TM6Y23_LH.txt
data/filtered_TM_files/TM7EHM_LH.txt
data/filtered_TM_files/TM7L9C_LH.txt
data/filtered_TM_files/TM7WDG_LH.txt
data/filtered_TM_files/TM0008.txt
data/filtered_TM_files/TM8H6Q_LH.txt
data/filtered_TM_files/TM8UCY_LH.txt
data/filtered_TM_files/TM8XZ2_LH.txt
data/filtered_TM_files/TM9PGL_LH.txt
data/filtered_TM_files/TM0010.txt
data/filtered_TM_files/TM0012.txt
data/filtered_TM_files/TM0014.txt
data/filtered_TM_files/TM0015.txt
data/filtered_TM_files/TM0017.txt
data/filtered_TM_files/TM0018.txt
data/filtered_TM_files/TM0021.txt
data/filtered_TM_files/TM21EF_LH.txt
data/filtered_TM_files/TM0023.txt
data/filtered_TM_files/TM0024.txt
data/filtered_TM_files/TM0027.txt
data/filtered_TM_files/TM0028.txt
data/filtered_TM_files/TM0030.txt
data/filtered_TM_files/TM0036.txt
data/filtered_TM_files/TM0037.txt
data/filtered_TM_files/TM0040.txt
data/filtered_TM_files/TM0042.txt
data/filtered_TM_files/TM0044.txt
data/filtered_TM_files/TM45O5_LH.txt
data/filtered_TM_files/TM0046.txt
data/filtered_TM_files/TM0048.txt
data/filtered_TM_files/TM0049.txt
data/filtered_TM_files/TM0053.txt
data/filtered_TM_files/TM0057.txt
data/filtered_TM_files/TM63ZE_LH.txt
data/filtered_TM_files/TM0064.txt
data/filtered_TM_files/TM0080.txt
data/filtered_TM_files/TM0082.txt
data/filtered_TM_files/TM86FW_LH.txt
data/filtered_TM_files/TM0089.txt
data/filtered_TM_files/TM0090.txt
data/filtered_TM_files/TM0092.txt
data/filtered_TM_files/TM98ES_LH.txt
data/filtered_TM_files/TM0102.txt
data/filtered_TM_files/TM0105.txt
data/filtered_TM_files/TM0106.txt
data/filtered_TM_files/TM0108.txt
data/filtered_TM_files/TM0115.txt
data/filtered_TM_files/TM0133.txt
data/filtered_TM_files/TM248Y_LH.txt
data/filtered_TM_files/TM0504.txt
data/filtered_TM_files/TM0537.txt
data/filtered_TM_files/TM0609_LH.txt
data/filtered_TM_files/TM663J_LH.txt
data/filtered_TM_files/TM0690.txt
data/filtered_TM_files/TM0691.txt
data/filtered_TM_files/TM0692.txt
data/filtered_TM_files/TM0693.txt
data/filtered_TM_files/TM0694.txt
data/filtered_TM_files/TM0695.txt
data/filtered_TM_files/TM0696.txt
data/filtered_TM_files/TM0697.txt
data/filtered_TM_files/TM0700.txt
data/filtered_TM_files/TM0701-v4.txt
data/filtered_TM_files/TM0701.txt
data/filtered_TM_files/TM0702.txt
data/filtered_TM_files/TM0703.txt
data/filtered_TM_files/TM0708.txt
data/filtered_TM_files/TM0709.txt
data/filtered_TM_files/TM0710.txt
data/filtered_TM_files/TM0711.txt
data/filtered_TM_files/TM0712.txt
data/filtered_TM_files/TM0713.txt
data/filtered_TM_files/TM0714-v1.txt
data/filtered_TM_files/TM0714.txt
data/filtered_TM_files/TM0718-v2.txt
data/filtered_TM_files/TM0718.txt
data/filtered_TM_files/TM0723.txt
data/filtered_TM_files/TM0725.txt
data/filtered_TM_files/TM0726.txt
data/filtered_TM_files/TM0728.txt
data/filtered_TM_files/TM0731.txt
data/filtered_TM_files/TM0732.txt
data/filtered_TM_files/TM0733.txt
data/filtered_TM_files/TM0734.txt
data/filtered_TM_files/TM0735.txt
data/filtered_TM_files/TM0736.txt
data/filtered_TM_files/TM0737.txt
data/filtered_TM_files/TM0738.txt
data/filtered_TM_files/TM0739.txt
data/filtered_TM_files/TM0746.txt
data/filtered_TM_files/TM0747.txt
data/filtered_TM_files/TM0748.txt
data/filtered_TM_files/TM0749.txt
data/filtered_TM_files/TM0751.txt
data/filtered_TM_files/TM0753.txt
data/filtered_TM_files/TM0755.txt
data/filtered_TM_files/TM0756.txt
data/filtered_TM_files/TM0757.txt
data/filtered_TM_files/TM0758.txt
data/filtered_TM_files/TM0759.txt
data/filtered_TM_files/TM0760.txt
data/filtered_TM_files/TM0761.txt
data/filtered_TM_files/TM0762.txt
data/filtered_TM_files/TM0763.txt
data/filtered_TM_files/TM0770.txt
data/filtered_TM_files/TM0773.txt
data/filtered_TM_files/TM778Q_LH.txt
data/filtered_TM_files/TM0781.txt
data/filtered_TM_files/TM0787.txt
data/filtered_TM_files/TM0791.txt
data/filtered_TM_files/TM0792.txt
data/filtered_TM_files/TM0800.txt
data/filtered_TM_files/TM0803.txt
data/filtered_TM_files/TM0855.txt
data/filtered_TM_files/TM0887.txt
data/filtered_TM_files/TM1003.txt
data/filtered_TM_files/TM1083.txt
data/filtered_TM_files/TM1114.txt
data/filtered_TM_files/TM1721.txt
data/filtered_TM_files/TM1966.txt
data/filtered_TM_files/TM2040.txt
data/filtered_TM_files/TM2051.txt
data/filtered_TM_files/TM2359.txt
data/filtered_TM_files/TM2395.txt
data/filtered_TM_files/TM2451.txt
data/filtered_TM_files/TM2723.txt
data/filtered_TM_files/TM2724.txt
data/filtered_TM_files/TM2864.txt
data/filtered_TM_files/TM2971.txt
data/filtered_TM_files/TM3076.txt
data/filtered_TM_files/TM3287.txt
data/filtered_TM_files/TM3867_LH.txt
data/filtered_TM_files/TM4383.txt
data/filtered_TM_files/TM4385.txt
data/filtered_TM_files/TM4707.txt
data/filtered_TM_files/TM4779.txt
data/filtered_TM_files/TM4780.txt
data/filtered_TM_files/TM4789.txt
data/filtered_TM_files/TM4792.txt
data/filtered_TM_files/TM4850.txt
data/filtered_TM_files/TM4851.txt
data/filtered_TM_files/TMA93L_LH.txt
data/filtered_TM_files/TMAQ6F_LH.txt
data/filtered_TM_files/TMAQVA_LH.txt
data/filtered_TM_files/TMC0PN_LH.txt
data/filtered_TM_files/TMC3EQ_LH.txt
data/filtered_TM_files/TMC9HN_LH.txt
data/filtered_TM_files/TMC09L_LH.txt
data/filtered_TM_files/TMC916_LH.txt
data/filtered_TM_files/TMCGII_LH.txt
data/filtered_TM_files/TMCI47_LH.txt
data/filtered_TM_files/TMCPAZ_LH.txt
data/filtered_TM_files/TMD6QN_LH.txt
data/filtered_TM_files/TMDCAO_LH.txt
data/filtered_TM_files/TMDEHO_LH.txt
data/filtered_TM_files/TMDKGN_LH.txt
data/filtered_TM_files/TMDP6M_LH.txt
data/filtered_TM_files/TMEG6V_LH.txt
data/filtered_TM_files/TMEMCP_LH.txt
data/filtered_TM_files/TMEUWE_LH.txt
data/filtered_TM_files/TMEYGX_LH.txt
data/filtered_TM_files/TMFTMA_LH.txt
data/filtered_TM_files/TMH1IG_LH.txt
data/filtered_TM_files/TMHODL_LH.txt
data/filtered_TM_files/TMHTRJ_LH.txt
data/filtered_TM_files/TMIAAR_LH.txt
data/filtered_TM_files/TMJ4F0_LH.txt
data/filtered_TM_files/TMJG3F_LH.txt
data/filtered_TM_files/TMJQQQ_LH.txt
data/filtered_TM_files/TMK3V3_LH.txt
data/filtered_TM_files/TMKCQZ_LH.txt
data/filtered_TM_files/TMKGKI_LH.txt
data/filtered_TM_files/TMKYUV_LH.txt
data/filtered_TM_files/TMM2LC_LH.txt
data/filtered_TM_files/TMMGO2_LH.txt
data/filtered_TM_files/TMMKFF_LH.txt
data/filtered_TM_files/TMMQLF_LH.txt
data/filtered_TM_files/TMMS3Y_LH.txt
data/filtered_TM_files/TMN7I2_LH.txt
data/filtered_TM_files/TMNIU8_LH.txt
data/filtered_TM_files/TMNLT8_LH.txt
data/filtered_TM_files/TMNN1K_LH.txt
data/filtered_TM_files/TMO36D_LH.txt
data/filtered_TM_files/TMOP6F_LH.txt
data/filtered_TM_files/TMOXSX_LH.txt
data/filtered_TM_files/TMP2Z4_LH.txt
data/filtered_TM_files/TMPCWS_LH.txt
data/filtered_TM_files/TMQ142_LH.txt
data/filtered_TM_files/TMR1R5_LH.txt
data/filtered_TM_files/TMRNQQ_LH.txt
data/filtered_TM_files/TMRVH5_LH.txt
data/filtered_TM_files/TMSEF6_LH.txt
data/filtered_TM_files/TMSOHP_LH.txt
data/filtered_TM_files/TMSS5D_LH.txt
data/filtered_TM_files/TMTAKG_LH.txt
data/filtered_TM_files/TMTPT0_LH.txt
data/filtered_TM_files/TMU65D_LH.txt
data/filtered_TM_files/TMVAXK_LH.txt
data/filtered_TM_files/TMVZ7V_LH.txt
data/filtered_TM_files/TMW1NG_LH.txt
data/filtered_TM_files/TMW9RB_LH.txt
data/filtered_TM_files/TMW13R_LH.txt
data/filtered_TM_files/TMWFAI_LH.txt
data/filtered_TM_files/TMWRDY_LH.txt
data/filtered_TM_files/TMWVF5_LH.txt
data/filtered_TM_files/TMXIR5_LH.txt
data/filtered_TM_files/TMYDPP_LH.txt
data/filtered_TM_files/TMYL5A_LH.txt
data/filtered_TM_files/TMYQXM_LH.txt
data/filtered_TM_files/TMYRFV_LH.txt
data/filtered_TM_files/TMZ64P_LH.txt
data/filtered_TM_files/TMZJTT_LH.txt
data/filtered_TM_files/TMZSEN_LH.txt
data/filtered_TM_files/TMZZRV_LH.txt
